html {
  background: linear-gradient(#0088ff, rgba(128, 128, 128, 0.712));
  padding: 40px;
  width: 170px;
  height: 100%;
  margin: 0 auto;
}
.trafficlight {
  background: #222;
  background-image: linear-gradient(transparent 2%, #111 2%, transparent 3%, #111111 30%);
  width: 200px;
  height: 500px;
  border-radius: 30px;
  position: relative;
  border: solid 5px #333333;
}
.shell {

}
.redlight {
  background: red;
}
.yellowlight {

}
.greenlight {

}
.trafficlightstand {
  
}